.slider__btn {
    position: absolute;
    top: 40%;
    border: none;
    background: $color-white;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    cursor: pointer;

    img {
        position: absolute;
        left: 20px;
        top: 19px;
    }

    &--left {
        left: 9%;
        transform: translate(-50%, -50%);
    }

    &--right {
        right: 9%;
        transform: translate(50%, -50%);
    }
}